<div class="mb-2 mt-2">
  <button
    class="btn btn-outline-primary btn-sm"
    name="btnOpen"
    type="button"
    (click)="open(modalBuscar)"
    #btnOpen
  >
    <i class="fa fa-plus"></i>
    Abrir Modal
  </button>
</div>
<ng-template #modalBuscar let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Tangananica</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h1>Aqui va algo</h1>
  </div>
  <div class="modal-footer" *ngIf="!disabledInputSearch">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="d('Cancel click')"
    >
      Cancelar
    </button>
    <button
      [disabled]="buttonDisabled"
      type="button"
      class="btn btn-outline-primary"
      (click)="search($event)"
    >
      <i class="fa fa-search"></i>
      Buscar
    </button>
  </div>
</ng-template>
